<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>tabelle</title>

    <!-- Custom fonts for this template -->
    <link href="../../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="../../static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include "componenti/sidebar.html"%}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div>
                <!-- Topbar -->
                {% include "componenti/navbar.html"%}
                <!-- Begin Page Content -->
                <div style="height: max-content; margin-top: 5%;font-size: 30px;">
                    <div class="container-fluid" style="display: flex; justify-content: center;">
                        <!--FORM-->
                        <form action="/fetchRegister" method="post" class="user" style="width: 60%;">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user FORM" id="exampleFirstName"
                                        name="nome" placeholder="Nome" value="{{user['name']['firstName']}}">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user FORM" id="exampleLastName"
                                        name="cognome" placeholder="Cognome" value="{{user['name']['lastName']}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="email" class="form-control form-control-user FORM"
                                        id="exampleInputEmail" name="email" placeholder="Email"
                                        value="{{user['contact']['email']}}">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user FORM" id="telefono"
                                        name="telefono" placeholder="Telelefono" value="{{user['contact']['phone']}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="email" class="form-control form-control-user FORM" id="exampleRole"
                                        name="ruolo" placeholder="Ruolo" value="{{user['role']}}">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user FORM" id="exampleBusinessRole"
                                        name="businessRuolo" placeholder="RuoloBusiness"
                                        value="{{user['businessRole']}}">
                                </div>
                            </div>


                            <div class="form-group row" style="margin-top: 100px;">
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user FORM"
                                        id="exampleOldPassword" name="vecchiaPassword" placeholder="Vecchia password"
                                        disabled="true">
                                </div>
                                <div class="col-sm-6">
                                    <input type="checkbox" name="" id="modificaPassword">
                                    <span>Modifica password?</span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user FORM" name="password"
                                        id="exampleInputPassword" placeholder="Nuova password" disabled="true">
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user FORM"
                                        name="repeatpassword" id="exampleRepeatPassword"
                                        placeholder="Ripeti nuova password" disabled="true">
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary btn-user btn-block" id="btn">
                                MODIFICA
                            </button>
                            <hr>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>


    {% include "Scripts/principali.html" %}

    <script src="../../static/js/base/element.js"></script>
    <script src="../../static/js/Admin/index/script.js"></script>

    <script src="../../static/js/Admin/index/script_utenza_img.js"></script>

    <script>
        let OLD_pass = document.querySelector('#exampleOldPassword')
        let NEW_pass = document.querySelector('#exampleInputPassword')
        let repaet_NEW_pass = document.querySelector('#exampleRepeatPassword')

        document.querySelectorAll(".FORM").forEach(e => { e.style.fontSize = "25px" })


        document.querySelector('#modificaPassword').addEventListener('click', () => {
            if (OLD_pass.getAttribute('disabled') && NEW_pass.getAttribute('disabled') && repaet_NEW_pass.getAttribute('disabled')) {
                OLD_pass.removeAttribute('disabled'); NEW_pass.removeAttribute('disabled'); repaet_NEW_pass.removeAttribute('disabled');
            }
            else {
                OLD_pass.setAttribute('disabled', true); NEW_pass.setAttribute('disabled', true); repaet_NEW_pass.setAttribute('disabled', true);
            }
        })
    </script>


</body>

</html>