<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <input type="text" id="QUERY" style="width: 70%;" />
    <button id="btn">ESEGUI</button>

</body>
<script>
    document.querySelector("#btn").addEventListener('click', () => {
        og = { "query": document.querySelector('#QUERY').value }

        fetch("/check/dati", {
            method: 'POST',
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(og)
        })
            .then(res => res.json()).then(d => {
                console.log(d)
            })
    })
</script>

</html>