<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>tabelle</title>

    <!-- Custom fonts for this template -->
    <link href="../../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="../../static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include "componenti/sidebar.html"%}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {% include "componenti/navbar.html"%}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold" style="color: green">Aziende</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Azienda</th>
                                            <th>partita IVA</th>
                                            <th>Indirizzo</th>
                                            <th>Comune</th>

                                            <th>Azioni</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for link in links %}
                                        <tr class="riga_">
                                            <td class="Ragionesociale" value="{{link['_id']}}">{{ link['name'] }}</td>
                                            <td>{{ link['vatNum'] }}</td>
                                            <td>{{ link['address']['street'] }}</td>
                                            <td>{{ link['address']['city'] }}</td>
                                            <td>
                                                <a style="cursor: pointer;margin-left: 10px;" class="elimina">
                                                    <img src="../../static/img/elimina.png" alt="elimina"
                                                        style="width: 20px;">
                                                </a>
                                                <a style="cursor: pointer;margin-left: 15px;" class="modifica">
                                                    <img src="../../static/img/modifica.png" alt="modifica"
                                                        style="width: 20px;">
                                                </a>
                                                <a style="cursor: pointer;margin-left: 15px;" class="piu_dettagli">
                                                    <img src="../../static/img/piu_dettagli.png" alt="piu dettagli"
                                                        style="width: 20px;">
                                                </a>

                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>

                                </table>
                            </div>
                            {%if check == "spike-admin"%}
                            <button class="btn" style="background-color: green;color: aliceblue;">Aggiungi</button>
                            {%endif%}
                        </div>

                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    {% include "Scripts/principali.html" %}
    <script src="../../static/js/base/element.js"></script>
    <script src="../../static/js/base/.script2.js"></script>


    <script src="../../static/js/pag_table/pagina_aziende.js"></script>

    <script src="../static/js/Admin/index/script_utenza_img.js"></script>

    <script>
        function ELI_MOD_DET(classe, finale) {
            document.querySelectorAll(classe).forEach((e, i) => {
                e.addEventListener('click', () => {
                    e.setAttribute('href', `/${document.querySelectorAll('.Ragionesociale')[i].getAttribute('value')}/${finale}`)
                })
            })
        }

        ELI_MOD_DET(".elimina", "elimina")
        ELI_MOD_DET(".modifica", "modifica")
        ELI_MOD_DET(".piu_dettagli", "dettaglio")

    </script>

    <script>
        document.querySelectorAll(".riga_").forEach((e, i) => { if (i % 2 == 0) { e.style.backgroundColor = "#145d0012" } });
    </script>

</body>

</html>