<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>tabelle</title>

    <!-- Custom fonts for this template -->
    <link href="../../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="../../static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <style>
        abbr {
            cursor: default !important;
        }
    </style>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include "componenti/sidebar.html"%}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {% include "componenti/navbar.html"%}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4" style="margin-bottom: 0px !important;">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold" style="color: green">Utenti</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    {%if check in ["user", "spike-user"] %}
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Cognome</th>
                                            <th>Email</th>
                                            <th>Ruolo</th>
                                            <th>Azioni</th>
                                        </tr>
                                    </thead>
                                    {% for link in links %}
                                    <tr class="riga_">
                                        <td class="nome_utente">{{ link['name']['firstName'] }}</td>
                                        <td class="cognome_utente">{{ link['name']['lastName'] }}</td>
                                        <td class="email_utente" value="{{link['_id']}}">{{ link['contact']['email']}}
                                        </td>
                                        <td class="ruolo">{{ link['role']}}</td>

                                        <td>
                                            <a style="cursor: pointer;margin-left: 10px;" class="elimina">
                                                <img src="../../static/img/elimina.png" alt="elimina"
                                                    style="width: 20px;">
                                            </a>
                                            <a style="cursor: pointer;margin-left: 15px;" class="modifica">
                                                <img src="../../static/img/modifica.png" alt="modifica"
                                                    style="width: 20px;">
                                            </a>
                                            <a style="cursor: pointer;margin-left: 15px;" class="piu_dettagli">
                                                <img src="../../static/img/piu_dettagli.png" alt="piu dettagli"
                                                    style="width: 20px;">
                                            </a>

                                        </td>

                                    </tr>
                                    {% endfor %}

                                    {%elif check == "spike-admin"%}
                                    <thead>
                                        <tr>
                                            <th>Azienda</th>
                                            <th>Nome</th>
                                            <th>Cognome</th>
                                            <th>Email</th>
                                            <th>Ruolo</th>
                                            <th>Azioni</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for link in links %}
                                        <tr class="riga_">
                                            <td class="azienda_utente">{{ link['nome_company'] }}</td>
                                            <td class="nome_utente">{{ link['name']['firstName'] }}</td>
                                            <td class="cognome_utente">{{ link['name']['lastName'] }}</td>
                                            <td class="email_utente" value="{{link['_id']}}">{{
                                                link['contact']['email']}}</td>
                                            <td class="ruolo">{{ link['role']}}</td>

                                            <td>
                                                <a style="cursor: pointer;margin-left: 10px;" class="elimina">
                                                    <img src="../../static/img/elimina.png" alt="elimina"
                                                        style="width: 20px;">
                                                </a>
                                                <a style="cursor: pointer;margin-left: 15px;" class="modifica">
                                                    <img src="../../static/img/modifica.png" alt="modifica"
                                                        style="width: 20px;">
                                                </a>
                                                <a style="cursor: pointer;margin-left: 15px;" class="piu_dettagli">
                                                    <img src="../../static/img/piu_dettagli.png" alt="piu dettagli"
                                                        style="width: 20px;">
                                                </a>

                                            </td>

                                        </tr>
                                        {% endfor %}
                                        {%endif%}
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                    <h3 id="risposta"></h3>
                </div>
            </div>
        </div>
    </div>




    <!-- Bootstrap core JavaScript-->
    <script src="../../static/vendor/jquery/jquery.min.js"></script>
    <script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../../static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="../../static/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="../../static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="../../static/js/demo/datatables-demo.js"></script>




    <script src="../../static/js/base/element.js"></script>
    <script src="../../static/js/base/.script2.js"></script>

    <script src="../../static/js/Admin/index/elimina_dettagli.js"></script>
    <script src="../../static/js/Admin/index/invio_a_server.js"></script>

    <script src="../../static/js/Admin/index/script_utenza_img.js"></script>


    

    <script>
        //COLORE RIGHE TABELLE
        document.querySelectorAll(".riga_").forEach((e, i) => { if (i % 2 == 0) { e.style.backgroundColor = "#145d0012" } });
        quando('load')
        quando('click')
        function quando(azione){
            window.addEventListener(azione, () => {
            document.querySelectorAll(".riga_").forEach((e, i) => {
                if (i % 2 == 0) { e.style.backgroundColor = "#145d0012" }
                else { e.style.backgroundColor = null }
            });
        })
        }


    </script>


</body>

</html>