<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>tabelle</title>

    <!-- Custom fonts for this template -->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="../static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <style>
        #_piuDettagli {
            width: 0px;
            height: 0px;
            transition: all 1s ease;
        }
    </style>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include "componenti/sidebar.html"%}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {% include "componenti/navbar.html"%}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    {%if check == true%}
                    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
                    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p>
                    {% endif %}

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Contratti</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    {%if check == "utente" or check == "admin" or check == "superadmin" %}
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Oggetto</th>
                                            <th>Azienda</th>
                                            <th>Status</th>
                                            <th>Assegnato</th>
                                            <th>Data</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>ID</th>
                                            <th>Oggetto</th>
                                            <th>Azienda</th>
                                            <th>Status</th>
                                            <th>Assegnato</th>
                                            <th>Data</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>

                                        {% for link in links %}
                                        <tr>
                                            <td class="IDDocumento"></td>
                                            <td class="Ipoteca"></td>
                                            <td></td>
                                            <td></td>
                                            <td class="data"></td>
                                            <td class="data"></td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>



                                    {% elif check == true %}
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nome documento</th>
                                            <th>Dato 1</th>
                                            <th>Dato 2</th>
                                            <th>Dato 3</th>

                                            <th>più dettagli</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nome documento</th>
                                            <th>Dato 1</th>
                                            <th>Dato 2</th>
                                            <th>Dato 3</th>

                                            <th>più dettagli</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><a href="#">più dettagli</a></td>
                                        </tr>
                                    </tbody>
                                    {% endif %}

                                </table>
                                <button class="btn btn-success">AGGIUNGI</button>


                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    {% include "scripts.html" %}
    <script src="../static/js/base/element.js"></script>

    <script src="../static/js/base/classe_tabelle.js"></script>
    <script src="../static/js/pag_table/pagina_mutui.js"></script>
    {%if check == "superuser"%}
    <script src="../static/js/Admin/index/script.js"></script>
    {%endif%}

</body>

</html>